/* seems like each spirte is 70px wide and 80px high */
.character{
	width:70px;
	height:80px;
	display:inline-block;
	position:absolute;
	top:140px;
	left:100px;
}
#field{
	background-image: url('../images/background_blanka.gif');
	width:621px;
	height:224px;
	position:relative;
}
h1{
	font-size:16px;
}
body{
	font-size:12px;
}
h2{
	font-size:14px;
}